---
permalink: /gallery/index.html
---
<!doctype html>
<html lang="fi">
  <head>
    {% include 'partials/head.liquid' %}
  </head>
  <body class="Page__Gallery">
    <main>
      <div class="Example">
        <h2>Legend card group</h2>
        <div class="Card" data-variant="legend" data-style="default" data-orientation="vertical">
          <div class="Card__LegendTitle">
            <h3>Presidenttien salamurhat</h3>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <div class="Card__LegendRelatedItems">
            <div class="Card" data-variant="default" data-style="default" data-orientation="horizontal" data-size="s">
              <div class="Card__Content">
                <span class="Card__Topic">Historia</span>
                <a href="https://uutis.land">
                  <h3>
                    Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa,
                    mitä ihmettä hän teki
                  </h3>
                </a>
                <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
              </div>
              <figure class="Card__Image">
                <img src="https://picsum.photos/seed/42/960/960">
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Heavy legend card group</h2>
        <div class="Card" data-variant="legend" data-style="heavy" data-orientation="vertical">
          <div class="Card__LegendTitle">
            <h3>Presidenttien salamurhat</h3>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <div class="Card__LegendRelatedItems">
            <div class="Card" data-variant="default" data-style="heavy" data-orientation="horizontal" data-size="s">
              <div class="Card__Content">
                <span class="Card__Topic">Historia</span>
                <a href="https://uutis.land">
                  <h3>
                    Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa,
                    mitä ihmettä hän teki
                  </h3>
                </a>
                <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
              </div>
              <figure class="Card__Image">
                <img src="https://picsum.photos/seed/42/960/960">
              </figure>
            </div>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Vertical medium-sized card</h2>
        <div class="Card" data-variant="default" data-style="default" data-orientation="vertical" data-size="md">
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Heavy vertical medium-sized card</h2>
        <div class="Card" data-variant="default" data-style="heavy" data-orientation="vertical" data-size="md">
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Vertical small-sized card</h2>
        <div class="Card" data-variant="default" data-style="default" data-orientation="vertical" data-size="s">
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Heavy vertical small-sized card</h2>
        <div class="Card" data-variant="default" data-style="heavy" data-orientation="vertical" data-size="s">
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/1440/960">
          </figure>
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
        </div>
      </div>

      <div class="Example">
        <h2>Horizontal medium-sized card</h2>
        <div class="Card" data-variant="default" data-style="default" data-orientation="horizontal" data-size="md">
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/960/960">
          </figure>
        </div>
      </div>

      <div class="Example">
        <h2>Heavy horizontal medium-sized card</h2>
        <div class="Card" data-variant="default" data-style="heavy" data-orientation="horizontal" data-size="md">
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/960/960">
          </figure>
        </div>
      </div>

      <div class="Example">
        <h2>Horizontal small-sized card</h2>
        <div class="Card" data-variant="default" data-style="default" data-orientation="horizontal" data-size="s">
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/960/960">
          </figure>
        </div>
      </div>

      <div class="Example">
        <h2>Heavy horizontal small-sized card</h2>
        <div class="Card" data-variant="default" data-style="heavy" data-orientation="horizontal" data-size="s">
          <div class="Card__Content">
            <span class="Card__Topic">Historia</span>
            <a href="https://uutis.land">
              <h3>
                Kun John F. Kennedy ammuttiin, Supo huomasi epäillyn käyneen Suomessa – salattu kansio paljastaa, mitä
                ihmettä hän teki
              </h3>
            </a>
            <time datetime="2023-12-09T06:15:35+02:00">Tänään 6:15</time>
          </div>
          <figure class="Card__Image">
            <img src="https://picsum.photos/seed/42/960/960">
          </figure>
        </div>
      </div>
    </main>
  </body>
</html>
